@{
    ViewData["Title"] = "Home";
}

@model BooksViewModel


@foreach (Book b in Model.Books)
{
    // grabbing the BookSummary.cshtml and specifying "b" as the model.
    // (We also renamed every "b" in the BookSummary.cshtml partial to be "Model")
    <partial name="BookSummary" model="b" />
}


@*Using the data from the PageInfo class contained within the ViewModel, use the page-pagination tag helper to create pagination links,*@
<div page-model="@Model.PageInfo" page-action="Index" page-class="btn" page-classes-enabled="true"
     page-class-normal="btn-outline-primary" page-class-selected="btn-primary text-white"
     class="btn-group m-1">
</div>