@page
@model Mission09_murdodav.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks for ordering from A-Z Book Store!</h2>
    <h3>Enjoy your new book!</h3>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>
</div>