<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="bg-primary text-white p-2 fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col navbar-brand">
                        <a asp-controller="Home" asp-action="Index" class="text-white" style="text-decoration: none">
                            <i class="fa fa-book-open"></i> Alphabet | Book Store
                        </a>
                    </div>
                    <div class="col-6 mt-1 text-right">
                        <vc:cart-summary />
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="m-5 p-1"></div>

    <!-- Hero image -->
    <div class="p-5 text-center bg-image" style="
    background-image: url('https://www.denverunionstation.com/content/uploads/2022/10/Tattered-Cover-2-767x500.jpg');
    height: 400px; ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Alphabet</h1>
                    <h4 class="mb-3">Book Store</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero image -->

    <div class="row m-1 p-1">

        <div id="categories" class="col-3">
            <vc:categories></vc:categories>
        </div>

        <div class="col-9 min-vh-100">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container float-left">
            &copy; 2023 - Mission10_murdodav - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
